
        body{
            background-color: rgb(173, 242, 169);
           
        }
        #bild{
            display: flex;
            justify-content: center;
        }
        #bild img {
           height: 400px;
        display: flexbox;
        justify-content: center;
        padding: 20px;
        border-radius: 50px;
        }
        #Intro{
            border-style: dashed;
            border-color: rgb(12, 103, 12);
            border-radius: 50px;
            padding: 10px;
             display: flex;
            justify-content:center;
            text-align: center;
            font-size: 20px;
        }
        h1{
            font-style: italic;
            text-transform: uppercase;
            text-align: center;
            padding-top: 3%;
            font-size: 50px;
        }
        h2{
            font-size: 30px;
            text-align: center;
        }
       #Graphic{
        font-size: 20px;
       }
       #editing{
        font-size: 20px;
       }
       #photography{
        font-size: 20px;
       }
        #socials{
            text-transform:uppercase;
            text-align: center;

        }
        #social section{
            font-size: 35px;
        }
        article{
            display: flex;
            justify-content: space-evenly;
        }
        